<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Template</title>
    <link rel="stylesheet" href="assets/css/misc.css">
    <link rel="stylesheet" href="assets/css/flex.css">
    <link rel="stylesheet" href="assets/css/app.css">

    <link rel="stylesheet" href="assets/css/vuetify.min.css">
    <link rel="stylesheet" href="assets/css/materialdesignicons.min.css">
    <script src="assets/js/vue.js"></script>
    <script src="assets/js/vuetify.js"></script>
    <script src="assets/js/fontawesome.all.min.js"></script>
    <script src="assets/js/sweetalert2.all.min.js"></script>
    <script src="assets/js/jquery.min.js"></script>
    <!-- <script src="assets/component/includeHtml.js"></script> -->
    <script src="assets/js/copyClipboard.js"></script>
    <style>
        body {
            height: 100vh;
            width: 100vw;
            background-color: rgb(41, 45, 51);
            overflow: hidden;
        }

        .dot {
            background-color: white;
            width: 10px;
            height: 10px;
            position: fixed;

        }

        .arrows-cnt {
            width: 170px;
            position: fixed;
            box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
            background-color: white;
            border-radius: 12px;
        }

        .arrow {
            color: #df2029a4 !important;
        }

        .float-bottom {
            position: fixed;
            bottom: 30px;
            text-align: center;
            width: 100%;
            height: 180px;
            display: flex;
            justify-content: center;

        }

        .reset {
            color: #25D366 !important;
        }

        .player {
            color: white;
            font-size: 50px;
        }
    </style>
</head>

<body>
    <div id="app" v-cloak>
        <div class="float-header" v-if="!selectedPlayer">
            <div v-on:click="selectPlayer(0)">
                <i class="fas fa-dice-one player"></i>
            </div>
            <div v-on:click="selectPlayer(1)">
                <i class="fas fa-dice-two player"></i>
            </div>

        </div>
        <template v-for="item in dot" v-if="selectedPlayer">
            <div class="dot" v-bind:style="{top: `${item.y}`+'px',left: `${item.x}`+'px'}"></div>
        </template>
        <!-- <div class="dot" v-bind:style="{top: `${dot[0].y}`+'px',left: `${dot[0].x}`+'px'}"></div>
        <div class="dot" v-bind:style="{top: `${dot[1].y}`+'px',left: `${dot[1].x}`+'px'}"></div> -->

        <input v-on:keydown="keyEvent($event)" type="text" v-if="selectedPlayer">
        <div class="float-bottom">
            <div class="m-flex m-justify-center m-align-center m-flex-v arrows-cnt">
                <v-icon class="arrow" style="font-size: 50px;" v-on:click="up">
                    mdi-arrow-up-bold-circle
                </v-icon>
                <div class="m-flex m-justify-center w-100 m-space-around">
                    <v-icon class="arrow" color="black" style="font-size: 50px;" v-on:click="left" @mousedown="left">
                        mdi-arrow-left-bold-circle
                    </v-icon>
                    <v-icon class="arrow" color="black" style="font-size: 50px;" v-on:click="right" @mousedown="right">
                        mdi-arrow-right-bold-circle
                    </v-icon>

                </div>
                <v-icon class="arrow" color="black" style="font-size: 50px;" v-on:click="down" @mousedown="down">
                    mdi-arrow-down-bold-circle
                </v-icon>
                <v-icon class="arrow reset" color="black" style="font-size: 50px;" v-on:click="reset">
                    mdi-rotate-left
                </v-icon>
            </div>
        </div>
    </div>
</body>

<script src="assets/js/axios.min.js"></script>
<!-- <script src="assets/component/component.js"></script> -->
<!-- <script src="https://www.gstatic.com/firebasejs/9.0.2/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.0.2/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.0.2/firebase-database.js"></script> -->


<script src="https://www.gstatic.com/firebasejs/8.2.2/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.2/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.2/firebase-database.js"></script>
<script type="module">
    // import { initializeApp } from "https://www.gstatic.com/firebasejs/9.0.2/firebase-app.js";
    // import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.0.2/firebase-analytics.js";
    // import { getDatabase } from "https://www.gstatic.com/firebasejs/9.0.2/firebase-database.js";
    const firebaseConfig = {
        apiKey: "AIzaSyA1rEzfixdhghpeUiMqmdNioMuV9BTcvKo",
        authDomain: "dot-game-98a2b.firebaseapp.com",
        databaseURL: "https://dot-game-98a2b-default-rtdb.firebaseio.com",
        projectId: "dot-game-98a2b",
        storageBucket: "dot-game-98a2b.appspot.com",
        messagingSenderId: "38443253056",
        appId: "1:38443253056:web:1c319d799a5aa49b0c4ea5"
    };

    firebase.initializeApp(firebaseConfig);
    const dots = firebase.firestore().collection('dots');
    const step = 20;
    console.log(dots);
    axios.defaults.headers.common = {
        "X-Requested-With": "XMLHttpRequest",
        "Access-Control-Allow-Origin": "*",
    };

    new Vue({
        el: '#app',
        vuetify: new Vuetify({
        }),
        data() {
            return {
                variable: null,
                dot_doc: [
                    null,
                    null,
                ],
                dot: [
                    {
                        id: 0,
                        x: window.innerWidth / 2,
                        y: window.innerHeight / 2,
                    },
                    {
                        id: 1,
                        x: window.innerWidth / 2,
                        y: window.innerHeight / 2,
                    }
                ],
                selectedPlayer: false,
                userId: 0,
            }
        },
        beforeMount() {
            // this.setInstance();
            this.setInstance();
        },

        mounted() { },
        computed: {},
        watch: {},
        methods: {
            selectPlayer(player) {
                this.userId = player;
                this.reset(player);
                this.selectedPlayer = true;
            },

            reset() {
                this.dot[0].x = 0;
                this.dot[0].y = 0;
                this.dot[1].x = 0;
                this.dot[1].y = 0;
                this.updatePosition(0);
                this.updatePosition(1);

            },


            keyEvent(event) {
                console.log('Key pressed:', event);
                switch (event.key) {
                    case "ArrowDown":
                        this.down();
                        break;
                    case "ArrowUp":
                        this.up();
                        break;
                    case "ArrowLeft":
                        this.left();
                        break;
                    case "ArrowRight":
                        this.right();
                        break;
                }
            },

            updatePosition(user) {
                dots.doc(this.dot_doc[user]).update({
                    x: this.dot[user].x,
                    y: this.dot[user].y,
                });
            },

            up() {
                // this.dot.y = this.dot.y * this.dot.hostScreen;
                // let i = this.userId;
                this.dot[this.userId].y -= step;
                this.updatePosition(this.userId);
            },

            down() {
                this.dot[this.userId].y += step;
                this.updatePosition(this.userId);
            },

            left() {
                this.dot[this.userId].x -= step;
                this.updatePosition(this.userId);
            },

            right() {
                this.dot[this.userId].x += step;
                this.updatePosition(this.userId);
            },

            // getDot(user) {
            //     let local = this;
            //     console.log('llegue 1');

            //     dots.where('id', '==', user).get()
            //         .then((querySnapshot) => {
            //             querySnapshot.forEach((doc) => {
            //                 console.log('llegue 2');
            //                 local.dot_doc[user] = doc.id;
            //                 local.dot[user] = doc.data();
            //                 local.dot[user].x = local.dot[user].x == 0 || local.dot[user].x == null ? window.innerWidth / 2 : local.dot[user].x;
            //                 local.dot[user].y = local.dot[user].y == 0 || local.dot[user].y == null ? window.innerHeight / 2 : local.dot[user].y;
            //             });
            //         })
            //         .catch((error) => {
            //             console.log("Error getting documents: ", error);
            //         });
            // },

            changeValues(user, change) {
                let local = this;
                local.dot[user] = change.doc.data();
                local.dot_doc[user] = change.doc.id;
                if (local.dot[user].x == 0 || local.dot[user].x == null) {
                    local.dot[user].x = window.innerWidth / 2;
                    // this.updatePosition(this.userId);
                }

                if (local.dot[user].y == 0 || local.dot[user].y == null) {
                    local.dot[user].y = window.innerHeight / 2;
                    // this.updatePosition(this.userId);
                }
            },

            setInstance() {
                let local = this, emptyobject;
                dots.where('id', 'in', [0, 1])
                    .onSnapshot(function (snapshot) {
                        snapshot.docChanges().forEach(function (change) {
                            emptyobject = change.doc.data();
                            console.log(emptyobject);
                            if (change.type === "added") {
                                emptyobject.id == 0 ? local.changeValues(0, change) : local.changeValues(1, change);
                            }
                            if (change.type === "modified") {
                                emptyobject.id == 0 ? local.changeValues(0, change) : local.changeValues(1, change);
                            }
                        });
                    });
            }
        },


        created() {
            let local = this;
            let i = this.userId;
            const unsubscribe = dots.where('id', 'in', [0, 1])
                .onSnapshot(function (snapshot) {
                    snapshot.docChanges().forEach(function (change) {
                        emptyobject = change.doc.data();
                        if (change.type === "added") {
                            emptyobject.id == 0 ? local.changeValues(0, change) : local.changeValues(1, change);
                        }
                        if (change.type === "modified") {
                            emptyobject.id == 0 ? local.changeValues(0, change) : local.changeValues(1, change);
                        }
                    });
                });

        }

        // store() {
        //     dots.add({
        //         id: this.user_id,
        //         x: this.positionx,
        //         y: this.positiony,
        //     })
        //         .then(function (docRef) {
        //             console.log("Document written with ID: ", docRef.id);
        //             // dots.doc(docRef.id).update
        //             //     ({
        //             //         session_id: docRef.id,
        //             //     });
        //             // location.replace(`/one2one_hosted/` + docRef.id);
        //         })
        //         .catch(function (error) {
        //             console.error("Error adding document: ", error);
        //         });
        // },

        // writeDotData(id, x, y) {
        //     // db.ref('dot').set({
        //     //     id: 1,
        //     //     x: this.positionx,
        //     //     y: this.positiony,
        //     // });
        //     dots.doc(this.user_id).update({
        //         x: this.positionx,
        //         y: this.positiony,
        //     });
        // },

        // readDotData() {
        //     db.on('value', (snapshot) => {
        //         this.positionx = snapshot.ref('x').val();
        //         this.positiony = snapshot.ref('y').val();
        //     });
        // },

    })
</script>

</html>